<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AddressBook</title>
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
</head>
<body>

  {{{body}}}

  <script src="javascripts/main.js" /></script>
</body>
</html>