body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  color: #00B7FF;
}

th,td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

tr:hover {background-color: #f5f5f5;}

button:hover {
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
}